[include]
        path = ~/.gitconfig.local
[core]
        excludesfile = ~/.gitignore
        editor = /usr/bin/vim
[hub]
        protocol = https
[alias]
        amend = commit --amend
	ap = add -p
	b = branch -vv
	bd = branch -D
	c = commit -v
	fo = fetch origin
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	com = checkout master
	cod = checkout develop
	cob = checkout -b
	s = status
	pso = push origin
	plo = pull origin
	pushf = push --force-with-lease
	ignored = !git ls-files -v | grep "^[[:lower:]]"
	prune-local = !git branch --merged | tr -d '*' | grep -v dev | xargs -n1 git branch -d
        promote = !git-promote
        wtf     = !git-wtf
        rank-contributors = !git-rank-contributors
        count   = !git shortlog -sn
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[help]
        autocorrect = 1
[pull]
	rebase = true
[push]
        default = simple
[url "git@github.com:"]
      	pushInsteadOf = https://github.com
[url "git@github.com:"]
      	pushInsteadOf = git://github.com
